%script{async: "async", defer: "defer", src: "https://www.google.com/recaptcha/api.js"}

.wrapp#registration_new.clearfix
  %main.single-main
    %section.l-single-container
      %h2.l-single-head 会員情報入力
      .l-single-inner
        .l-single-content
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .form-group.first
              = f.label :ニックネーム
              %span.form-repuire 必須
              = f.text_field :nickname, autocomplete: "nickname", placeholder: "例) メルカリ太郎", class: "input-default", autofocus: true
            .form-group
              = f.label :メールアドレス
              %span.form-repuire 必須
              = f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "input-default"
            .form-group
              = f.label :パスワード
              %span.form-repuire 必須
              - if @minimum_password_length
                = f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上", class: "input-default"
            .form-group
              = f.label "パスワード(確認)"
              %span.form-repuire 必須
              - if @minimum_password_length
                = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上", class: "input-default"
            .g-recaptcha{"data-callback" => "validateRecaptcha", "data-sitekey" => "6LcXI3cUAAAAAFqqhr2QMLzDjCPYz3KWuQeZoh5L"}
            .actions
              = f.submit "次に進む", class: "recaptcha btn-default btn-red", disabled: "disabled"
