= create_header

.wrap#deals_new
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            = image_tag @item.photos.first.photo_url
          %p.buy-item-name.bold
            = @item.name
          %p.buy-price-ja.bold
            = "¥" + "#{@item.price}"
            %span.item-shipping-fee.f14.bold
              -if @item.delivery.shipping_burden == "送料込み"
                送料込み
              -else
                着払い
          %ul.buy-accordion.not-have
            %li.accordion-parent
              .accordion-toggle
                ポイントはありません
          %ul.buy-price-table
            %li.buy-price-row.buy-you-pay.bold
              .buy-price-cell 支払い金額
              .buy-price-cell
                %span
                  = "¥" + "#{@item.price}"
          = button_to "購入する", item_deals_path(@item), class: "btn-default btn-red bold"
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            = current_user.address.postal_code
            %br/
            = current_user.address.prefecture
            = current_user.address.city
            = current_user.address.street_number
            %br/
            = current_user.address.family_name
            = current_user.address.first_name
          %p.buy-user-info-text
          = link_to edit_user_address_path(id: current_user.address.id, user_id: current_user.id), class: "buy-user-info-fix" do
            %span 変更する
            = fa_icon "angle-right"
      %section.buy-content.buy-user-info{data: {buy: "pay-method"}}
        .buy-content-inner
          %h3 支払い方法
          %p.buy-user-info-text
            - @customer.cards.data.each do |d|
              = "************" + d.last4
              %br/
              = d.exp_month
              %span /
              = d.exp_year % 100
              %figure
                =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?582886128", alt: "#{d.brand}", height: "15", width: "49"
          = link_to '#', class: "buy-user-info-fix" do
            %span 変更する
            = fa_icon "angle-right"

= create_footer
