%head
  %script{async: "async", defer: "defer", src: "https://www.google.com/recaptcha/api.js"}
.single-container
  =render"./mypages/mypage.header"
  .single-main
    .login-panel
      .login-account
        %p アカウントをお持ちでない方はこちら
        - if devise_mapping.registerable? && controller_name != 'registrations'
          = link_to "新規会員登録", users_path(resource_name)
      .login-inner
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.fab.fa-facebook-square
          Facebookでログイン
        %button#google-login.btn-default.btn-sns.btn-sns-google
          %i.fab.fa-google-plus-g
          Googleでログイン
      .login-form-inner
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email",class:"text"
          .field
            %br/
            = f.password_field :password, autocomplete: "current-password",class:"text"
          .form-group
            .g-recaptcha{"data-callback":"validateRecaptcha", "data-sitekey":"6LcXI3cUAAAAAFqqhr2QMLzDjCPYz3KWuQeZoh5L"}
          .login-submit
            = f.submit "ログイン", class: "btn-red", disabled: "disabled"
            %a
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            .pass
              = link_to "パスワードをお忘れの方", new_password_path(resource_name)
  =render"./mypages/mypage.footer"
