%section.item-box-container
  %h1.item-name
    = @item.name
  .item-main-content.clearfix
    .item-photo
    -# 商品画像の表示は後日実装予定
    %table.item-detail-table
      %tr
        %th 出品者
        %td
          = link_to "#" do
            = @item.user.nickname
          %div
            .item-user-ratings
              %i.far.fa-grin
              %span 505
            .item-user-ratings
              %i.far.fa-meh
              %span 17
            .item-user-ratings
              %i.far.fa-frown
              %span 3
      %tr
        %th カテゴリー
        %td
          = link_to "#" do
            %div レディース
          = link_to "#" do
            .item-detail-table-sub-category
              %i.icon-arrow-right
              バッグ
          = link_to "#" do
            .item-detail-table-sub-sub-category
              %i.icon-arrow-right
              ショルダーバッグ
      %tr
        %th ブランド
        %td
          = link_to "#" do
            %div
              コーチ
      %tr
        %th 商品の状態
        %td
          = @item.condition
      - @delivery.each do |delivery|
        %tr
          %th 配送料の負担
          %td
            = delivery.shipping_burden
        %tr
          %th 配送の方法
          %td
            = delivery.shipping_method
        %tr
          %th 配送元地域
          %td
            = link_to "#{delivery.origin_region}"
        %tr
          %th 発送日の目安
          %td
            = delivery.shipping_days
  .item-price-box.text-center
    %span.item-price.bold
      = number_to_currency(@item.price, unit: "¥ ", format: "%u%n")
    %span.item-tax (税込)
    %span.item-shipping-fee 送料込み
  = link_to "購入画面に進む", new_item_deal_path(@item.id), class: "item-buy-btn"
  .item-description
    %p.item-description-inner
      = simple_format (@item.introduction)
  .item-button-container.clearfix
    .item-button-left
      %button.item-button.item-button-like{}
        = fa_icon 'heart'
        %span いいね!
        %span.fade-in-down{data: {num: "like"}} 3
      = link_to class: "item-button item-button-report clearfix" do
        = fa_icon 'flag'
        %span 不適切な商品の報告
      %input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m70068440240/"}/
      %input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m70068440240/"}/
      %input{name: "__csrf_value", type: "hidden", value: "6cc9e95733d2408c56440a4ad52fcc926aa4bd4f1bfe0262c230c29ca997e8b5600ef6899c8eb7548ade172b4d9e17723906547c6146c917d05d095d330c4bbba"}/
    .item-button-right
      = link_to "#" do
        = fa_icon 'lock'
        %span あんしん・あんぜんへの取り組み

.item-detail-message
  .message-content
    %form.message-form{action: "https://www.mercari.com/jp/comment/add/"}
      %input{name: "__csrf_value", type: "hidden", value: "6cc9e95733d2408c56440a4ad52fcc926aa4bd4f1bfe0262c230c29ca997e8b5600ef6899c8eb7548ade172b4d9e17723906547c6146c917d05d095d330c4bbba"}/
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input{name: "item_id", type: "hidden", value: "m40602756351"}/
      %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
      %textarea.textarea-default{name: "body", type: "text", value: ""}
      %button.message-submit.btn-default.btn-gray{type: "submit"}
        %span コメントする

  %ul.nav-item-link-prev-next.clearfix
    %li.nav-item-link-prev
      = link_to "#" do
        %i.icon-arrow-left
        スーパーマリオ3Dランド ソフト  攻略本
    %li.nav-item-link-next
      = link_to "#" do
        monsta x ウォノ トレカ
        %i.icon-arrow-right

%section.items-box-container.clearfix.items-in-user-profile
  %h2.items-box-head
    = link_to "#" do
      #{@item.user.nickname}さんのその他の出品
  .items-box-content.clearfix
    - @user_items.each do |item|
      = render "shared/items-box", item: item
